.post_item {
    h3 {
        @include abide_panel_header;
    }
    display: flex;
    @include abide_flex_direction(601px, 600px);
    border: 1px solid $mid_grey;
    background-color: $light_grey;
    @media (min-width: 601px) {
        margin-bottom: 2rem; 
    }
    @media (max-width: 600px) {
        margin: 0 5px 2rem;
    }  
    .post_intro {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .post_thumb {
        @media ( max-width: 830px) {
            width: 100%;
        }
        &:hover {
            opacity: .7;
        }
        margin: 0 1rem 0 0;
        img {
            @media ( min-width: 831px) {
                height: 100%;
            }
            @media ( max-width: 830px) {
                width: 100%;
            }
            object-fit: cover !important;
        }
    }
}