footer {
    p {
        color: $dark_blue;
    }
    min-height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include abide_flex_direction(601px, 600px);
    .social-buttons {
        margin-top: .5rem;
        height: 65px;
        flex-direction: row;
        display: flex;
        div {
            display: inline-block;
            height: 60px;
            list-style-type: none;
            margin-right: 1rem;
            a {
                display: inline-block;
                height: 90px;
                width: 100%;
            }
        }
        #email_sprite {
            width: 85px;
            height: 85px;
            background: url('images/main-sprite.png') 0 0 no-repeat;
        }
        #facebook_sprite {
            width: 70px;
            height: 70px;
            background: url('images/main-sprite.png') -88px 0 no-repeat;
        }
        #twitter_sprite {
            width: 70px;
            height: 70px;
            background: url('images/main-sprite.png') -160px 0 no-repeat;
        }
        #youtube_sprite {
            width: 70px;
            height: 70px;
            background: url('images/main-sprite.png') -225px 0 no-repeat;
        }
    }
    #credits {
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        @media ( min-width: 601px) {
            text-align: right;
        }
        @media ( max-width: 600px) {
            margin-top: 1rem;
            text-align: center;
        }
    }
}