.hangout {
    padding: 5rem 0 3.5rem;
    article {
        margin: 0 2rem;
    }
    .area_a {
        background: url('images/line-horiz-top-2.png') 0 0 no-repeat;
    }
    .area_b {
        background: url('images/line-horiz-top-2.png') 0 0 no-repeat;
    }
}

.hangout_gallery {
    padding-top: 2rem;
    article {
        margin: 0 2rem
    }
  
}

.hangout_contact_capture {
    article {
        @media (min-width: 601px) {
            background: url('images/mermaid.png') 0 60% no-repeat;
            background-size: 40%;
            min-height: 1000px;
        }
        @include abide_flex_direction(601px,
        600px);
        display: flex;
        #mailing_list_signup {
            @media (min-width: 601px) {
                margin-right: .5rem;
            }
            font-family: $body_text;
            flex: 1;
            div.mc-field-group {
                display: flex;
                label {
                    margin-right: .5rem;
                    flex: 1;
                }
                input {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 1.5rem;
                    border: 1px solid $mid_grey;
                    flex: 2;
                }
                margin-bottom: 1rem;
            }
            #mc_embed_signup_scroll div {
                margin-bottom: 1rem;
            }
            input#mc-embedded-subscribe {
                width: 8rem;
                @include abide_button
            }
        }
        #sign-off {
            border: 1px solid $mid_grey;
            border-radius: 3px;
            padding: 0 1rem 1rem 1rem;
            flex: 1;
        }
    }
}
