@mixin abide_button {
    -webkit-appearance: none;
    background-color: $base_blue;
    border-radius: 5px;
    border: none;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    font-size: 1rem;
    color: $white;
    a {
        font-family: $body_text;
        font-size: 1rem;
        color: $white;
    }
    &:hover {
        background-color: $orange;
    }
}

@mixin abide_flex_direction($large, $small) {
    @media ( min-width: $large) {
        flex-direction: row;
    }
    @media ( max-width: $small) {
        flex-direction: column;
    }
}

@mixin abide_panel_header {
    font-size: 200%;
    a {
        color: $base_blue;
        &:hover {
            color: $orange;
        }
    }
}