#main_nav {
    ul {
        list-style-type: none;
        .menu-item-has-children>a {
            &::after {
                content: "\0000a0\25bc";
                color: $base_blue;
            }
        }
        li {
            font-size: 110%;
            font-family: $heading_font;
            margin-left: -1rem;
            a {
                padding: 0 .25rem;
                color: $base_blue;
                &:hover {
                    color: $orange;
                }
            }
            ul li {
                margin-bottom: 1px;
            }
        }
        .current-menu-item:not(.menu-item-has-children) {
            a {
                border-bottom: 3px solid $oil;
                color: $oil;
            }
        }
    }
    @media (min-width: 601px) {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .menu-item-has-children {
            .current-menu-item a {
                color: $oil !important;
                &:hover {
                    border-bottom: 3px solid $orange !important;
                }
            }
            &:hover:before {
                content: "";
            }
            ul {
                margin-left: 0;
                padding-left: 1rem;
                background-color: $base_blue;
            }
            &:hover a {
                background-color: $base_blue;
                color: $white;
            }
            li {
                color: $white;
                width: 12rem;
                margin-right: -2rem;
                border-bottom: 1px dotted $white;
                &:last-of-type {
                    border-bottom: none;
                }
                a {
                    color: $white !important;
                    &:hover {
                        color: $orange !important;
                    }
                }
            }
            &:focus .sub-menu,
            &:focus-within .sub-menu,
            &:hover .sub-menu {
                margin-top: -.25rem;
                visibility: visible;
                /* shows sub-menu */
                opacity: 1;
                z-index: 1;
                transform: translateY(0%);
                transition-delay: 0s, 0s, 0.3s;
                /* this removes the transition delay so the menu will be visible while the other styles transition */
            }
            .sub-menu {
                visibility: hidden;
                /* hides sub-menu */
                opacity: 0;
                z-index: -1;
                position: absolute;
                transform: translateY(-5em);
                transition: all 0.3s ease-in-out 0s, visibility 2s linear 0.3s, z-index 0s linear 0.01s;
            }
        }
    }
    @media ( max-width: 600px) {
        #menu-infants_menu {
            padding-top: 1rem;
        }
        ul {
            padding-bottom: 0;
            border-top: 1px dotted;
            li {
                margin-top: -1rem;
                padding-top: 1rem;
                padding-left: 1rem;
                border-bottom: 1px dotted $oil;
                padding-bottom: .5rem;
                &:focus,
                &:hover {
                    background-color: $base_blue;
                    a:not(.current-menu-item) {
                        color: $white !important;
                    }
                }
            }
            .sub-menu {
                border-top: 1px dotted $oil;
                margin-top: .5rem;
                margin-bottom: -.65rem;
                margin-left: -2.5rem;
                li {
                    border-bottom: none;
                    &:focus,
                    &:hover {
                        background-color: $dark_blue;
                    }
                    margin-top: -.1rem;
                    // border: 1px solid red;
                    padding: .75rem 0;
                    &:first-of-type {
                        border-bottom: 1px dotted $oil;
                    }
                    a {
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}