@import url('https://fonts.googleapis.com/css?family=Bahiana&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
$semi-transparent_oil: rgba(44,36,22,.5);
$body_text: 'Roboto Slab', serif;
$heading_font: 'Bahiana', cursive;
h2,
h3 {
    font-family: $heading_font;
    color: $base_blue;
    @media (min-width: 601px) {
        text-align: left;
    }
    @media (max-width: 600px) {
        text-align: center;
    }
}

h2 {
    font-size: 400%;
    margin: 1rem 0;
}

h4 {
    font-family: $body_text;
    font-size: 120%;
    @media (min-width: 601px) {
        margin-bottom: -.75rem;
    }
    @media (max-width: 600px) {
        margin-bottom: 0;
        margin-left: .5rem;
    }
}

p {
    line-height: 1.5;
    color: $oil;
    font-family: $body_text;
}

ul {
    line-height: 1.5;
    color: $oil;
    font-family: $body_text;
    li {
        margin-bottom: 1rem;
    }
    margin-left: -1.5rem;
}

a {
    color: $orange;
    text-decoration: none;
    &:hover {
        color: $dark_blue;
        ;
    }
}

// .primary_content {
//     article {
//         // The object here is to indent all second and upwards paragraphs. 
//         @media (max-width: 600px) {
//             p~p {
//                 text-indent: 1rem !important;
//             }
//         }
//     }
// }